@font-face {
  font-family: "Oswald";
  src: url("../font/oswald-variablefont_wght-webfont.woff2");
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsL";
  src: url("../font/Poppins-Light.ttf");
}



/* Haut de la page*/ 
.enTête{

  width: 100%;
  height: 10vw;
  margin-bottom: 6vw;

  }


  h1{
    color: #000000;
    text-align: left;
    align-self:center;
    font-size:6vw;
    box-sizing:border-box;
    width:100%;
    font-family:"Poppins", Courier, monospace;
    margin-left: 2vw;
  margin-top: 5.5vw;
    }


    h2{
    
      text-align: left;
      align-self:center;
      font-size:4vw;
      box-sizing:border-box;
      width:100%;
      font-family:"Poppins", Courier, monospace;
      margin-left: 2vw;
    margin-top: 3.5vw;
      }
  

    .logo{
      text-align: left;
      width:20vw;
      height:15vw;
      display: flex;
     
    }
    
/*----------------------------------------------------------------------------------*/
/*Bas de la page*/

.down{
  width:100vw;
  height:15vw;
  display:flex;
  color : black; 
  float: left;
  position: relative; 
  font-family: 'Poppins', Courier, monospace;
  font-size: 1vw;

}

.texteB{
  text-align: left;
  align-self:center;
  font-size:1vw;
  box-sizing:border-box;
  width:100%;
  color : black; 
  margin-left: 1vw;
  
  
}
/*----------------------------------------------------------------------------------*/
.degrade-angulaire {
  background: linear-gradient(70deg, #f6f6f6, rgb(255, 255, 255));
}


.texteT{
    text-align: left;
    align-self:center;
    font-size:8vw;
    box-sizing:border-box;
    width:100%;
    color : white; 
    font-family: 'poppins', Courier, monospace;
    
    
  }


  .outer-div {
    Width:38%;
    height: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 6vw;
   margin-bottom: 6vw;
  float: left;
    position: relative;
  }
  
  .parent {
    position: relative;
    width: 38vw;
    height: 38vw;
    margin: 1vw;
    float: right;
    display: flex;
  }
  
  .child21 {
  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity:1;
    background-image: url(../img/point.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20%;
   
  }
  .child11 {
    position: absolute; 
    margin: 3vw;
    background-image: url(../img/point.png);
    position: absolute;
  }
  
  .child2 {
  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity:1;
    background-image: url(../img/ligne4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15%;
    color: white;
   
  }
  .child1 {
    position: absolute; 
   /* margin: 5vw;*/
   background: linear-gradient(70deg, rgb(18, 18, 18), #000000);
   background-size: 100%;
    position: absolute;
    color:white;
  }
  
  
  
  
  .carre{
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family:  "Poppins", Courier, monospace;
    
  
    
  }
  
  .imgC{
    width: 42%;
   display: block;
    margin:auto;
    margin-top: 22%;
    margin-bottom: 12%;
    opacity: 0.98;
  }
  
  

.immG{
display: flex;
  float:right
}


.text{
  text-align: center;
  align-self:center;
  font-size: 8vw;
  box-sizing:border-box;
  width:100%;
  color:rgb(240, 243, 244);
  font-family: 'didot', Helvetica, sans-serif;
}

/*a{
  color:rgb(240, 243, 244);
  text-decoration: none;
  font-family:'didot', 'Courier New', Courier, monospace;
  text-decoration: bold;
  
}*/


/*Page Apgar*/

.cube-text{
  font-family: "Poppins", Courier, monospace;;
}


.question{
  width: 100%;
  font-family:"Poppins", Courier, monospace;
}

.geste{
  width: 100%;
  font-family:"Poppins", Courier, monospace;
  display: block;
}
.case{
width:58% ;

float: right;
display: flex;

}

.explic{
  width:40%;
  height: 30vw;
  display:flex;
  background: linear-gradient(70deg, rgb(18, 18, 18), #000000);
  float: right;
}

.box{
  font-family:"PoppinsL", Courier, monospace;
  padding:2vw;
  float: right;
  width: 75%;
  color: white;
  font-size: 2vw;
  font-style: bold;
  
  
}
.casePhoto1{
width: 40%;
float: left;


}

.casePhoto2{
width:20%;
float: left;

}

.cube{
  height: 23vw;
  margin: 2vw;
  display: block;
}
.rectangle{
 
  width:75%;
  height: 30vw;
  display:flex;
  background: linear-gradient(70deg, rgb(18, 18, 18), #000000);
  float: right;
   
}

.question{
  margin-top: 2vw;
  width:100%;
  border-radius: 50%;
  /*height: 30vw;*/
  display:flex;

}

[type="radio"] {
  content: '';
  width: 2vw;
  height: 2vw;
  border-radius: 1em;
  display: inline-block;
  transition: 0.5s ease all;
 
}
  .active, .dot:hover {
    background-color: black;
  }

.image{
  width: 18%;
  padding: 6%;
  float: left;
}

.button{
  float : right;
  width: 15vw;
  font-size: 3vw;
}

.reponse{
  font-size: 4vw;
  margin-left: 5vw;
}
  

/* Score de Wallas*/ 

#scoreWallas{
width:100%; 
}

.texteWallasG{
  color: black;
  float: left;
  width: 46%;
  display:flex;
  position: relative;
  margin-left: 3vw;
  font-size: 3vw;
  font-family: 'PoppinsL', Courier, monospace;

}
.texteWallasD{
  color: black;
  float: right;
  width: 46%;
  display:flex;
  position: relative;
  margin-left: 3vw;
  font-size: 3vw;
  font-family: 'PoppinsL', Courier, monospace;

}


/* Calcul d'âge*/ 

.dateDeNaissance{
color: black;
}

form{
  width:100%;
 
  padding: 5px;
}

input[type="submit"]{
  color:black;
  border-radius: 5px;
  padding:10px;
  font-size:14px;
  border: 2px solid black;
}

.myInput1{
  margin-left: 25vw;
  width: 50%;
  height: 5vw;
  font-size: 4vw;
  font-family:  'PoppinsL', Courier, monospace;
  
}

.myInput2{
  margin-left: 25vw;
  width: 50%;
  height: 5vw;
  font-size: 4vw;
  font-family:  'PoppinsL', Courier, monospace;
}

.myInput3{
  margin-left: 25vw;
  width: 50%;
  height: 5vw;
  font-size: 4vw;
  font-family:  'PoppinsL', Courier, monospace;
}

#aidePourInter{
  color: black;
  float: left;
  width: 100%;
  display:flex;
  position: relative;
  margin-left: 3vw;
  font-size: 3vw;
  font-family:  'Poppins', Courier, monospace;
}

.ligne{
  width:100%;
  height:0.1vw;
  display:flex;
  background-color: black;
  float: left;
  position: relative; 
}


/*Echelle de la douleur*/ 
.slidecontainer {
  width: 90%;
  height: 90vh;
  float: right;
  margin-right: 20vw;
position:relative;
margin-top: 2vh;

}

.slider{
  
  margin-top: 43vh;
  display:flex;
  position: absolute;


}


input[type=range]
{
   writing-mode: bt-lr; /* IE */
    -webkit-appearance: none;
    -webkit-transform: rotate(-90deg);
    width: 90vh;
    height: 5vh;
   outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  opacity: 0.8;
  background:gray; 

  
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6vh;
  height: 8vh;
  background: #2A4076;
  cursor: pointer;
  border-radius: 20%;

}

.slider::-moz-range-thumb {
  width:5vh;
  height: 5vh;
  cursor: pointer;
 
 
}

.echelleDouleur{
  height: 90vh;
  float:left;
  margin-left: 20vw;
  
}

.echelleDouleurText{
  margin-left: 5vw;
  height: 5vw;
  font-size: 4vw;
}

/*Calcul autonomie de bouteille d'O2*/ 

.myInputB{
  margin-left: 25vw;
  width: 50%;
  height: 5vw;
  font-size: 4vw;
  margin-bottom: 5vh;
}

#autonomie{
  color: black;
  float: left;
  width: 100%;
  display:flex;
  position: relative;
  margin-left: 3vw;
  font-size: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.audio{
margin-top: 5vh; 
margin-bottom: 5vh;
width: 45vw;
background-color: #F8D531;
}


.ligne{
  width: 100%;
  height:0.2vw; 
  color: black;
  margin-bottom:2vw; 
  margin-top:4vw; 
}

.section1{
  font-family: 'PoppinsL', Courier, monospace;
  padding: 4vw;
  font-size: 2vw;
  }

.section2{
color: white;
  background: linear-gradient(70deg, rgb(42, 41, 41), #4a4a4a); ;
padding: 4vw;
font-family: 'PoppinsL', Courier, monospace;
font-size: 2vw;
}

.img_centree{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.width_70{
  width: 70vw;
}
.width_40{
  width: 40vw;
}
.width_30{
  width: 30vw;
}

.width_20{
  width: 20vw;
}


/*Quizz*/ 

.boxQ{
  font-family:"PoppinsL", Courier, monospace;
  float: left;
  width: 75%;
  color: black;
  font-size: 2vw;
  font-style: bold;
  position:relative;
  

}

.rectangleQ{
  width:75%;
  margin-left:8%;
  display:flex;
  background: linear-gradient(70deg, rgb(245, 245, 245), rgb(245, 245, 245));
  float: left;
  padding-bottom: 1vw;
  padding-left: 2vw;


}

.textQ{
  color: black;
  float: left;
  display:flex;
  position: relative;
  margin-left: 1.5vw;
  font-size: 1.5vw;
  font-family: 'PoppinsL', Courier, monospace;

}